PHASE0_PROVIDER=upstox
UPSTOX_API_KEY="your_upstox_api_key"
UPSTOX_API_SECRET="your_upstox_api_secret"
UPSTOX_REDIRECT_URL="http://127.0.0.1:8000/callback"
SESSION_STATE_PATH="./state/session.json"

PHASE0_ARTIFACTS_DIR="./artifacts"
PHASE0_STORE_RAW_JSON=false
PHASE0_DERIVATIVE_SEGMENT="NSE_FO"
PHASE0_STRIKE_STEP=100
PHASE0_STRIKES_AROUND_ATM=15
PHASE0_DAILY_HISTORY_SOURCE="nse_udiff"

SUPABASE_DB_URL_SESSION="postgresql://postgres:password@db.project-ref.supabase.co:5432/postgres"
